body {
    background-image: url(./Design\ sem\ nome\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;

    text-shadow: 5px 5px 20px #000; 
    backdrop-filter: 5px 5px 20px #000;  
    

    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

b, span{
    color: #54eb54d2;
    

}

a {
    color: rgb(233, 155, 12);
}

h1, p {
    color: white;
    
}
